.filterText{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.bigText{
	-fx-font-size: 18px;
}

.mediumText{
	-fx-font-size: 14px;
}

.smallText{
	-fx-font-size: 12px;
}

/* 
.table-column {
	-fx-alignment: center ;
}
 
.bigBoldText{
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}*/